@{
  Layout = "_Layout";
}

@model SweetTreats.Models.Treat; 

@if (ViewBag.Flavors.Count == 0)
{
  <h2>You have no Flavors! All treats have to taste like something.</h2>
}
else
{
<h2>Add a the newest most delicious treat ever!</h2>

@using(Html.BeginForm())
{
  @Html.LabelFor(model=> model.Name);
  @Html.TextBoxFor(model =>model.Name);
  <br>
   @Html.LabelFor(model=> model.Price)
  @Html.TextBoxFor(model =>model.Price)
  <br>
  @Html.Label("What flavor is it?")
  @Html.DropDownList("FlavorId")
  <br>
  <input type="submit" value="Add it!">
}
}